h2, 
h3,
h4 {
  margin-top: 0;
}

.container {
  max-width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* _______________________modal-windows______ ________________*/
/* Стили для подложки */
.overlays {  
  /* Скрываем подложку  */
  opacity: 0;
  visibility: hidden;
  
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  z-index: 20;
  transition: .3s all;
}
/* Стили для модальных окон */
.modal {
display: block;
/* Скрываем окна  */
opacity: 0;
visibility: hidden;



/*  Установаем ширину окна  */
width: 100%;
/* max-width: 335px; */

/*  Центрируем и задаем z-index */
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
z-index: 30; /* Должен быть выше чем у подложки*/

/*  Побочные стили   */
box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2); 
text-align: start;
padding: 40px 24px;
border-radius: 3px;
background-color:black;
transition: 0.3s all;
color: #fff;
}

/* Стили для кнопки закрытия */
.modal__cross {
width: 15px;
height: 15px;
position: absolute;
top: 20px;
right: 20px;
fill: #444;
cursor: pointer;
}
/* Стили для кнопок. Мы ведь порядочные разработчики, негоже простые ссылки оставлять */
.modal.active,
.overlays.active{
 opacity: 1;
 visibility: visible;
}


.hotel-modal-wind {
padding: 20px;
display: inline-block;
text-decoration: none;
background-color: #414b52;
margin: 10px;
color: #fff;
border-radius: 3px;

}


/* _______________form__________________ */


/* CONTACT */
.contacts-page {
  max-height: 80%;
  padding-top:20px;
  padding-bottom: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  
  background-image: url(../css/style/hero-image/three-raspberries-isolated.webp);
}
.contact-flex {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
}
.mb-menu-item {
  display: flex;
 align-items: center;
 gap: 5px;
}
.social-icon {
  display: inline-block;
  vertical-align: bottom;
}
.contacts-page-phone {
 margin-bottom: 60px;
}
.item-icon-contact {
  vertical-align: bottom;
  padding:10px;
  border-radius: 4px;
 border:2px solid #db9d9d;
}
.item-icon-contact:not(:last-child) {
  margin-bottom: 40px;
}
.social-icon {
fill: #c03a3a;
 
}
/* _______________________________________________ */


/* _________________________________________ */


  /* _____________________modal-form________________________ */
  .modal-hotel {
    max-width: 628px;
  }

  .modal-form-field {
    width: calc((100% - 32px) / 2);
  }
  .modal-container {
   flex-direction: row;
    
  }




