h2, 
h3,
h4 {
  margin-top: 0;
}

/* .container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
} */


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* _______________________modal-windows______ ________________*/
/* Стили для подложки */
.overlay {
 
/* Скрываем подложку  */
opacity: 0;
visibility: hidden;

position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, .5);
z-index: 20;
transition: .3s all;
}
/* Стили для модальных окон */
.modal {
display: block;
/* Скрываем окна  */
opacity: 0;
visibility: hidden;



/*  Установаем ширину окна  */
width: 100%;
/* max-width: 335px; */

/*  Центрируем и задаем z-index */
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
z-index: 30; /* Должен быть выше чем у подложки*/

/*  Побочные стили   */
box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2); 
text-align: start;
padding: 40px 24px;
border-radius: 3px;
background-color:black;
transition: 0.3s all;
color: #fff;
}

/* Стили для кнопки закрытия */
.modal__cross {
width: 15px;
height: 15px;
position: absolute;
top: 20px;
right: 20px;
fill: #444;
cursor: pointer;
}
/* Стили для кнопок. Мы ведь порядочные разработчики, негоже простые ссылки оставлять */
.modal.active,
.overlay.active{
 opacity: 1;
 visibility: visible;
}


.hotel-modal-wind {
padding: 20px;
display: inline-block;
text-decoration: none;
background-color: #414b52;
margin: 10px;
color: #fff;
border-radius: 3px;

}


/* _______________form__________________ */


/* CONTACT */

.mb-menu-item {
  display: flex;
 align-items: center;
 gap: 5px;
}
.social-icon {
  display: inline-block;
 
}
.social-icon-tel {

}
/* _______________________________________________ */

/*____________________ Слайдер____________________ */
.slaider {
  width: 350px;
  height: 429px;
  overflow: hidden;
  /* border: 2px solid rgb(85, 83, 82); */
  position: relative;
  margin-bottom: 100px;
  
}

.navigation {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  
}

.bar {
  height: 7px;
  width: 50px;
  margin: 10px;
  cursor: pointer;
  background-color: #dacfcf;
  opacity: 0.5;
  border-radius: 10px;
  transition: all 250ms ease;
}
.bar:hover {
  opacity: 1;
  transform: scale(1.1);
}
input[name="r"] {
  position: absolute;
  visibility: hidden;
}
.slaides {
  width: 200%;
  height: 100%;
  display: flex;
  gap: 20px
}
.slaide {
  width: 50%;
  transition: all 250ms ease;
}

.slaide img {
  width: 100%;
  height: 100%;
}
#r1:checked ~ .s1 {
  margin-left: 0;
}
#r2:checked ~ .s1 {
  margin-left: -25%;
}
/* _________________________________________ */


  /* _____________________modal-form________________________ */
  .modal-hotel {
    max-width: 628px;
  }

  .modal-form-field {
    width: calc((100% - 32px) / 2);
  }
  .modal-container {
   flex-direction: row;
    
  }




